/src/main/java/com/example/demo/config/secret/
/src/main/resources/
/src/main/resources/knowingkey.json
/src/main/java/com/example/demo/src/main/MainService.java


/build

/build/resources/main
/build/classes/java/main/com/exmaple/demo/config/secret/
/build/classes/java/main/com/example/demo/config/main/MainService.java